/*Google font : poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins_font {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
* {
  border: 1px solid red;
}
body {
  border: 2px dashed blue;
}
/* shared styles */
.display_flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container {
  width: 85.71%;
  margin: 0 auto;
}
#hero,
main #companies,
.gears {
  margin-top: 145px;
}

.description {
  font-size: 1rem;
  font-weight: 500;
  color: #3a3a3a;
  margin-bottom: 17px;
}
.btn_primary {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #e02c6d;
  padding: 10px 56px 10px 24px;
  border-radius: 41px;
  border: none;
}
.btn_primary:hover {
  background-color: #000000;
}
header {
  margin-top: 96px;
}

/* navbar styles */
#navbar {
  display: flex;
  justify-content: space-between;
}
#navbar #brand_name {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
#nav_links {
  display: flex;
  gap: 34px;
}

#nav_links .nav_items {
  list-style: none;
}
.nav_items .nav_link {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

/* hero section styles */
#hero {
  margin-top: 145px;
  display: flex;
  gap: 133px;
  justify-content: space-between;
  align-items: center;
}
#hero_content #hero_title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 70px;
  color: #3a3a3a;
  margin: 16px 0;
}
#hero #hero_image {
  position: relative;
}
#hero_image #main_camera {
  margin-right: 20px;
  width: 100%;
}
#hero_image #circle {
  position: absolute;
  left: -20px;
  top: -10px;
  z-index: -1;
  width: 100%;
}

#arrow_btn i {
  position: relative;
  top: 2px;
  left: 20px;
}

/* main: companies section start */
main #companies {
  border-top: 1px solid #5e63667a;
  border-bottom: 1px solid #5e63667a;
  margin-top: 100px;
  padding: 36px 61px;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

/* gears section styles */
.gears .gears_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: start;
}
.gears_cards .gear_card {
  width: 350px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.gear_card .card_img {
  width: 300px;
  text-align: center;
  margin-bottom: 16px;
  border-radius: 5px;
}
.gear_card .card_title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25px;
  color: #18191f;
  margin: 6px 0;
}
.gear_card .card_price {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 60px;
  color: #18191f;
  margin: 6px 0;
  margin-bottom: 10px;
}
.gear_card .rating {
  margin: -10px 0;
}

.rating_star i {
  width: 20px;
}
.rating .rating_point {
  font-size: 0.87;
  font-weight: 600;
  line-height: 22px;
  color: #5e6366;
}
.gear_card .card_footer {
  font-size: 0.87;
  font-weight: 600;
  line-height: 22px;
  color: #787885;
}
.rating_star {
  color: #fb8200;
}

/* responsive media query for small devices */
@media screen and (max-width: 576px) {
  .container {
    width: 97%;
    margin: 0 auto;
  }
  header {
    margin-top: 20px;
  }
  #navbar {
    align-items: center;
    gap: 55px;
  }
  #navbar #brand_name {
    font-size: 1rem;
  }
  #nav_links {
    gap: 0px;
  }
  .nav_items .nav_link2 {
    display: none;
  }
  #hero {
    margin-top: 22px;
    flex-direction: column-reverse;
    gap: 14px;
  }
  #hero #hero_content {
    text-align: center;
  }
  #hero_content #hero_title {
    font-size: 1.5rem;
    line-height: 49px;
  }
  .description {
    font-size: 0.87rem;
  }
  .btn_primary {
    font-size: 0.87rem;
  }
  #hero_image #main_camera {
    margin-right: 0px;
  }

  main #companies {
    gap: 20px;
    padding: 10px 0;
    margin: 50px 0;
    flex-wrap: wrap;
  }
  .gears .gears_cards {
    grid-template-columns: 1fr;
  }
  .gears_cards .gear_card {
    width: 80%;
  }
  .gear_card .card_img {
    max-width: 100%;
  }
}
/*  responsive media query for medium devices  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 97%;
    margin: 0 auto;
  }
  #navbar #hamburger {
    display: none;
  }
  #navbar #brand_name {
    font-size: 1rem;
  }
  #nav_links {
    gap: 10px;
  }
  .nav_items .nav_link2 {
    display: block;
  }
  #hero {
    gap: 10px;
    align-items: center;
  }
  #hero_content #hero_title {
    font-size: 1.5rem;
    line-height: 45px;
  }
  main #companies {
    gap: 20px;
    padding: 10px 0;
    margin: 50px 0;
    flex-wrap: wrap;
  }
  .gears .gears_cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .gears_cards .gear_card {
    width: 80%;
  }
  .gear_card .card_img {
    max-width: 100%;
  }
}

/* responsive media query for big devices  */
@media screen and (min-width: 992px) {
  #navbar #hamburger {
    display: none;
  }
  .gears .gears_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .gears_cards .gear_card {
    width: 80%;
  }
  .gear_card .card_img {
    max-width: 100%;
  }
}
